POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=database

DATABASE_URL=postgresql://admin:password@localhost:5432/database?schema=public

# https://auth0.com/docs/secure/tokens/json-web-tokens/json-web-token-claims
LOGTO_URL=https://logto.dev
LOGTO_AUDIENCE=<LOGTO-AUDIENCE>
